<?php
$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
    	'single_quote' => true,
    	'indentation_type' => true,
    	'array_indentation' => true,
        'trailing_comma_in_multiline_array' => ['after_heredoc' => true],
        'braces' => [
        	'position_after_functions_and_oop_constructs' => 'same',
        	'allow_single_line_closure' => true,
        ],
        'elseif' => true,
        'full_opening_tag' => true,
        'no_trailing_whitespace' => true,
        'no_trailing_whitespace_in_comment' => true,
        'no_closing_tag' => true,
        'not_operator_with_successor_space' => true,
        'ternary_operator_spaces' => true,
        'unary_operator_spaces' => true,
        'binary_operator_spaces' => true,
        'switch_case_space' => true,
        'whitespace_after_comma_in_array' => true,
        'method_argument_space' => true,
        'cast_spaces' => ['space' => 'single'],
        'no_spaces_after_function_name' => true,
        'space_inside_parenthesis' => true,
    ])
    ->setIndent("\t")
    ->setLineEnding("\r\n")
    ->setFinder($finder)
;
