<?php
/**
 * Ruleset for PHP CS Fixer
 * 
 * @see https://cs.symfony.com/
 * @see https://mlocati.github.io/php-cs-fixer-configurator/
 */
$finder = PhpCsFixer\Finder::create()
    ->exclude('.github')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        'single_quote' => true,
    ])
    ->setIndent("\t")
    ->setLineEnding("\r\n")
    ->setUsingCache(false)
    ->setFinder($finder)
;
